*.DS_Store
*.pyc
*__pycache__*
*.csproj
*.sln
*.sln.DotSettings.user
.idea
.DS_Store
.vscode
.vs/
editor.pid
Library/
Obj/
obj/
Temp/
Log/
Logs/
Build/
Local/
UserSettings/
Exports/
Assets/AddressableAssetsData/Android/
Assets/AddressableAssetsData/iOS/
CookingJourneyClient/TestBuild
CookingJourneyClient/Assets/Test
CookingJourneyClient/Assets/Test.meta
CookingJourneyClient/BuildTest
HotfixVersionInfo.asset*
BuildVersionInfo.asset*
HybridCLRData/
HybridCLRGenerate/
HybridCLRGenerate.meta